<h1>{{ 'dashboard.hey' | translate }} Mind Bridge, {{ 'dashboard.letsWork' | translate }}</h1>

<div class="dashboard-grid">
  <!-- COLUMNA IZQUIERDA: Patient Reservations -->
  <div class="main-column" aria-label="upcoming-appointments">
    <app-upcoming-appointments [isClient]="false"></app-upcoming-appointments>
  </div>

  <!-- COLUMNA DERECHA: Reviews -->
  <div class="sidebar-column" aria-label="review-list">
    <mat-card class="mat-elevation-z2">
      <mat-card-content>
        <app-review-list [reviews]="reviews"></app-review-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>