<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="register-container">
    <img src="https://github.com/UPC-PaxTech/uTime/blob/main/img/logoutime.png?raw=true" alt="" class="logo">

    <h1 class="title">{{ 'register.title' | translate }}</h1>
    <p class="subtitle">
      {{ 'register.subtitle' | translate }}
      <a routerLink="/iam/login" class="login-link">Log in</a>
    </p>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'register.number' | translate }}</mat-label>
      <input matInput formControlName="numColegiado" type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'register.email' | translate }}</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'register.password' | translate }}</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <!-- Checkbox de Términos -->
    <mat-checkbox formControlName="acceptTerms" class="full-width">
      He leído y acepto los
      <a routerLink="/legal/terms" (click)="$event.stopPropagation()">Términos y Condiciones</a>
      y la
      <a routerLink="/legal/privacy" (click)="$event.stopPropagation()">Política de Privacidad</a>.
    </mat-checkbox>
    <div class="error" *ngIf="registerForm.get('acceptTerms')?.touched && registerForm.get('acceptTerms')?.hasError('required')">
      Debes aceptar los términos para continuar.
    </div>

    <button mat-raised-button color="primary" class="register-button" type="submit"
            [disabled]="registerForm.invalid || registerForm.pending">
      Create account
    </button>

  </div>
</form>
