<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="register-container">
    <img src="https://github.com/UPC-PaxTech/uTime/blob/main/img/logoutime.png?raw=true" alt="" class="logo">

    <h1 class="title">{{ 'register.title' | translate }}</h1>
    <p class="subtitle">
      {{ 'register.subtitle' | translate }}
      <a routerLink="/iam/login" class="login-link">Log in</a>
    </p>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'register.number' | translate }}</mat-label>
      <input matInput formControlName="numColegiado" type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'register.email' | translate }}</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'register.password' | translate }}</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <mat-checkbox formControlName="acceptTerms" class="full-width">
      {{ 'register.termsPrefix' | translate }}
      <a href="#" class="link-like" (click)="openLegal($event, 'terms')">
        {{ 'legal.terms.title' | translate }}
      </a>,
      <a href="#" class="link-like" (click)="openLegal($event, 'privacy')">
        {{ 'legal.privacy.title' | translate }}
      </a>
      {{ 'register.and' | translate }}
      <a href="#" class="link-like" (click)="openLegal($event, 'code')">
        {{ 'legal.code.title' | translate }}
      </a>.
    </mat-checkbox>

    <div class="error"
         role="alert"
         aria-live="polite"
         *ngIf="registerForm.get('acceptTerms')?.touched && registerForm.get('acceptTerms')?.hasError('required')">
      {{ 'register.acceptTermsError' | translate }}
    </div>

    <button mat-raised-button color="primary" class="register-button" type="submit"
            [disabled]="registerForm.invalid || registerForm.pending">
      Create account
    </button>
  </div>
</form>
