<div class="profile-container">
  <div class="profile-header">
    <button mat-icon-button class="back-btn" routerLink="/client/homeClient" aria-label="go back button">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>{{'client.profile.profile' | translate}} <span>💼</span></h1>
  </div>

  <div class="profile-card" *ngIf="!isLoading">
    <section class="section">
      <h2>👤 {{'client.profile.personal' | translate}} </h2>
      <div class="profile-details">
        <div class="detail-item">
          <span class="label">{{'client.profile.name' | translate}}:</span>
          <span class="value">{{ profile.name }}</span>
        </div>

        <div class="detail-item">
          <span class="label">{{'client.profile.email' | translate}}:</span>
          <span class="value">{{ profile.email }}</span>
        </div>

        <div class="detail-item">
          <span class="label">{{'client.profile.phone' | translate}}:</span>
          <span class="value">{{ profile.phoneNumber }}</span>
        </div>

        <div class="detail-item">
          <span class="label">{{'client.profile.identity' | translate}}:</span>
          <span class="value">{{ profile.identityDocument }}</span>
        </div>
      </div>
    </section>

    <!-- Quejas y Reclamos -->
    <section class="section">
      <h2> {{ 'client.profile.complaints' | translate }}</h2>
      <button mat-stroked-button color="primary" routerLink="/soporte/quejas-reclamos"
        aria-label="ir a quejas y reclamos">
        <mat-icon>help_center</mat-icon>
        Preguntas frecuentes y reclamos
      </button>
    </section>

    <section class="section danger">
      <h2>⚠️ {{'client.profile.account' | translate}} </h2>
      <div class="account-actions">
        <button mat-stroked-button color="warn" (click)="logout()" aria-label="log out button">
          <mat-icon>logout</mat-icon> {{'client.profile.logOut' | translate}}
        </button>

      </div>
    </section>
  </div>

  <div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
</div>